button {
    transition: 0.2s;
    color: #68f30c;
    background: #1b9e3b;
    margin: 3px;
    padding: 2px;
    font-size: 1.3em;
    
    border: 1px solid #FFF;
  
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    }
    
    button:hover {
      color: wheat;
      cursor: pointer;
      box-shadow: 0 0 0px 0.2em rgba(255, 255, 255, 0.5) inset;
    }
  
    .cbutton {
      grid-column: 1 / 3;
      background-color: rgb(27, 20, 19);
    }
    
    .equals {
      grid-column: 3 / 5;
      background-color: rgb(27, 20, 19);
    }
    
    .equals:hover {
      background-color: rgb(27, 20, 19);
    }